:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #fcd733;
  --hov-primary: #0069d9;
  --soft-primary: rgba(55, 125, 255, 0.15);
  --secondary: #8f97ab;
  --soft-secondary: rgba(143, 151, 171, 0.15);
  --success: #0abb75;
  --soft-success: rgba(10, 187, 117, 0.15);
  --info: #25bcf1;
  --soft-info: rgba(37, 188, 241, 0.15);
  --warning: #ffc519;
  --soft-warning: rgba(255, 197, 25, 0.15);
  --danger: #ef486a;
  --soft-danger: rgba(239, 72, 106, 0.15);
  --light: #f2f3f8;
  --dark: #111723;
  --soft-dark: rgba(42, 50, 66, 0.15);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
}

body{
  background:#fafafa !important;
}
.aiz-main-wrapper{
  background:#fafafa !important;
}

.product-card-box.product-card-box-default{
  background:#fff  !important;
  border:1px solid #ddd !important;
}
.product-card-box.product-card-box-default .product-title{
  height:60px;
}

[dir="rtl"] .aiz-steps.arrow-divider > *:not(:first-of-type):before{
  left: auto;
  right: -13px;
  content: "\f104";
}